body {
    margin: 0;
}

/* .review-card {
    height: 250px;
} */

.review-card-body {
    background-color: #31285c;
}

.review-username {
    max-width: 60%;
}

@media(max-width: 767.98px) {
    .album-info {
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .responsive-badge {
        font-size: 1rem;
    }
}

@media(min-width: 768px) {
    .album-info {
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .responsive-badge {
        font-size: calc(1.275rem + 0.3vw);
    }
}

.album-summary {
    /* background-color: #291e5c; */
    color: white;
    /* border-radius: 20px; */
    padding: 2.5rem;
}

.album-widget {
    background-color: #291e5c;
    max-height: 440px;
    overflow-y: auto;
    border-radius: 20px;
}

.song {
    /* border: solid #3D2C58; */
    border: 1px solid #ff7733;
    border-radius: 10px;
    background-color: navy;
    color: #ffaa33;
    height: 60px;
    overflow-y: auto;
    display: grid;
    place-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-title {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.ellipse-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.star-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: 30px;
  font-family: Times;
  line-height: 1;
  
  background: linear-gradient(90deg, 
    #ffc107 var(--percent), 
    #e4e5e9 var(--percent)
  );
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-icon-btn {
    cursor: pointer;
}

.albumPageBtn {
    background: linear-gradient(180deg, #ff9900 0%, #ff6600 100%);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.albumPageBtn:hover {
    background: linear-gradient(180deg, #ffaa33 0%, #ff7733 100%);
    color: white;
}

.rating-form-field {
  display: flex;
  flex-direction: row-reverse; /* Reverses order visually for the sibling selector */
  justify-content: flex-end;
  border: none;
}

.rating-form-field input {
  display: none; /* Hide the radio buttons */
}

.rating-form-field label {
  font-size: 2rem;
  color: #e4e5e9;
  cursor: pointer;
  transition: color 0.2s;
}

/* Hover and checked states */
.rating-form-field label:hover,
.rating-form-field label:hover ~ label,
.rating-form-field input:checked ~ label {
  color: #ffc107; /* Gold color for active stars */
}
