body {
    margin: 0;
}

/* .albumcover-card-body {
    background-color: #31285c;
} */

@media(max-width: 767.98px) {
    .artist-info {
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .responsive-badge {
        font-size: 1rem;
    }
}

@media(min-width: 768px) {
    .artist-info {
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .responsive-badge {
        font-size: calc(1.275rem + 0.3vw);
    }
}

.artist-summary {
    /* background-color: #291e5c; */
    color: white;
    /* border-radius: 20px; */
    padding: 2.5rem;
}

.artist-widget {
    background-color: #291e5c;
    max-height: 440px;
    overflow-y: auto;
    border-radius: 20px;
}

.section-title {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.ratio-2x3 {
    --bs-aspect-ratio: 150%;
}