img { 
    max-height: 100%; 
}

.swiper-slide {
    background-color: #31285c; 
    width: 260px; 
    height: auto; 
    
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start; 
    
    padding: 15px; 
    border: 2px solid #1a103c; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.swiper-container {
    width: 100%;
    padding: 50px 0; 
}

.swiper-slide img {
    display: block;
    width: 100%;  
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    margin-bottom: 15px; 
}

.album-info {
    width: 100%;
    text-align: left;
}

.album-title {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2px;
}

.album-artist {
    color: #e0e0e0;
    font-size: 0.95rem;
    margin-bottom: 0;
}
.album-year {
    color: #e0e0e0; 
    font-size: 0.95rem;
    margin-bottom: 0;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5); 
    opacity: 1; 
    width: 10px; 
    height: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #0d6efd; 
    transform: scale(1.2); 
}