body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 32), rgb(0, 0, 32));
    min-height: 100vh;
    overflow-x: hidden;
}

.row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.navbar-custom {
    background-color: #000032;
    padding: 0.5rem 1rem;
}

.navbar-custom .logo-img-custom {
    width: 50px;
    margin-right: 10px;
}

.navbar-custom .nav-search-btn-only {
    background-color: #3b2c70; 
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}

.navbar-custom .nav-search-btn-only:hover {
    background-color: #ff9800; 
    color: white;
    transform: scale(1.1); 
}

.navbar-custom .profile-img-custom {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.navbar-custom .rPanel {
    width: 250px; 
    justify-content: flex-end; 
}

.navbar-custom .btn-logout-custom {
    color: white;
    padding: 0;
    font-size: 1.4rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.navbar-custom .btn-logout-custom i {
    color: white;
}

.navbar-custom .btn-logout-custom:hover i {
    color: #adb5bd;
}