body{
    background-image: linear-gradient(to bottom right, rgb(0, 0, 32), rgb(0, 0, 32));
    min-height: 100vh;
}


.navbar-custom {
    background-color: #000032;
    padding: 0.5rem 1rem;
}

.navbar-custom .logo-img-custom {
    width: 50px;
    margin-right: 10px;
}

.navbar-custom .btn-search-custom {
    background-color: #3b2c70;
    color: white;
    border: none;
    border-radius: 6px;
    width: 300px;
    max-width: 100%;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.navbar-custom .btn-search-custom i {
    color: white;
}

.navbar-custom .btn-search-custom:hover {
    background-color: #4b3c80;
    color: white;
}


.navbar-custom .profile-img-custom {
    width: 40px;
    height: 40px;
    object-fit: cover;
}


.navbar-custom .btn-logout-custom {
    color: white;
    padding: 0;
    font-size: 1.4rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.navbar-custom .btn-logout-custom i {
    color: white;
}

.navbar-custom .btn-logout-custom:hover i {
    color: #adb5bd;
}